folketinget_2009_2021_raw.csv filter=lfs diff=lfs merge=lfs -text
UK_wordfish_estimates_ps.csv filter=lfs diff=lfs merge=lfs -text
debate_level_estimates_ps.csv filter=lfs diff=lfs merge=lfs -text
Goet_Scripts/wordshoal_implementations/debate_level_estimates_ps.csv filter=lfs diff=lfs merge=lfs -text
Goet_Scripts/wordshoal_implementations/3.wordshoal/wfms_ps/Estimates/UK_wordfish_estimates_ps.csv filter=lfs diff=lfs merge=lfs -text
